[2021-01-27 14:14] manusimidt opened #1 "Check if given cache path makes sense"
**Describe the bug**
A clear and concise description of what the bug is:

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen:

**Screenshots**
If applicable, add screenshots to help explain your problem:

[code]

[2021-03-19 13:24] #1 closed

[2021-03-19 14:21] manusimidt opened #5 "Parser crashes for certain ixbrl submissions (could not parse date string)"
**Describe the bug**
A clear and concise description of what the bug is:

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**
A clear and concise description of what you expected to happen:

**Screenshots**
If applicable, add screenshots to help explain your problem:

![image](https://user-images.githubusercontent.com/29599104/111794434-815a1a00-88c6-11eb-9545-f364be40

[2021-03-20 07:48] manusimidt opened #6 "Map common namespaces to schema urls"
![image](https://user-images.githubusercontent.com/29599104/111862941-b9aa3880-8958-11eb-855a-18665fa0bd8e.png)

Some submissions have now schema url defined for common taxonomies.
Maybe add a dictionary that maps from namespace to schema_url for some common taxonomies.
This map can then be used, it the company has not defined the schema_url in the taxonomy extension.

[2021-03-24 02:41] mkycrb opened #7 "Taxonomy xsd:annotation/xsd:appinfo/link:roleType links aren't populated"
**Describe the bug**
A clear and concise description of what the bug is:

First off, great module!  Thanks a ton for putting this out there.  I was getting xbrl brain-damage until I came across this repo.

Following logical expression doesn't evaluate as expected:
https://github.com/manusimidt/xbrl_parser/blob/e72c683166d41de1a5eaca87e52971aa5dda7df7/xbrl_parser/taxonomy.py#L179
This is because `b

[2021-03-28 18:19] #6 closed

[2021-03-28 19:02] #5 closed

[2021-03-28 19:35] manusimidt commented on #7
@mkycrb
Thank you for your issue, really helps me to improve this repository.
Until now i am mainly parsing SEC submissions and thus it is very helpful to get feedback from people that tried the parser with other xbrl documents.

You are correct, the parser does not parse the extended link roles defined in the [taxonomy extension schema](http://www.xbrlsite.com/US-GAAP/BasicExample/2010-09-30/abc-

[2021-03-28 19:48] #7 closed

[2021-04-20 19:09] jamiehannaford opened #8 "Doesn't seem to work with local XSD files"
I have the following files:

[code]

But when I try to load one, it fails:

[code]
[code]

If I leave out `instance_url` I get this error instead:

[code]

It seems that if you use the HTTP cacher, it tries to load _everything_ from there and raises a fatal error if files aren't found. My understanding was that it'd be optional.

[2021-04-21 07:07] manusimidt commented on #8
Thank you for your issue!

No, the Http cache is not optional at this time. Even if you have downloaded the instance file and/or the files from the extension taxonomy, the parser must also download all the taxonomies and their files that are imported by the XBRL instance file.

For submissions from the SEC this includes for example the US-GAAP taxonomy, the DEI Taxonomy and the SRT Taxonomy.

Thes

[2021-04-21 07:24] schmiJo opened #9 "DEI Taxonomy not found"
Yes the DEI Taxonomy is not imported in the Taxonomy Extension by this particular filer.
But it is a standard taxonomy that should be covered by

https://github.com/manusimidt/xbrl_parser/blob/9a5e0232c568226f9b9251908ea482803d39c29f/xbrl_parser/taxonomy.py#L147-L156

[code]

[2021-04-21 09:09] jamiehannaford commented on #8
Awesome, thank you. It'd be great if the parser could find the schema locally. Great job on the project, I'm finding it super helpful!

[2021-04-22 20:59] manusimidt opened #10 "Label Linkbase instance should have get_label() function"
Would be handy if the label linkbase would return an array of possible labels given the ID of a concept.

[2021-04-25 09:01] manusimidt commented on #8
Will do some further testing and documentation and then upload a new package version to pypi in the next 2-3 days.

[2021-04-25 18:42] manusimidt commented on #9
![image](https://user-images.githubusercontent.com/29599104/116005234-59b54a80-a606-11eb-885d-2dfc420dd245.png)

This is because some (actually very few) submissions contain multiple schemaRefs to multiple taxonomies instead of relying on just one (extension-) taxonomy. Must see how we can cover this with the current object structure...

[2021-04-26 11:56] manusimidt commented on #8
It should now work with the new package version 1.2.0.
I used the following code to get your example running:
[code]

I also tested on ~100 other SEC EDGAR submissions, both XBRL and iXBRL and it worked pretty reliabily.
Nevertheless, I would be happy if you give me feedback if it works for you.

![image](https://user-images.githubusercontent.com/29599104/116077683-0b4f8c80-a696-11eb-8ce4-1cad6e2c

[2021-04-28 09:31] jamiehannaford commented on #8
Thanks @manusimidt. I'll try using this weekend and reopen if I have any issues.

[2021-04-28 09:31] #8 closed

[2021-05-08 22:43] Samar2170 opened #11 "prefix 'ix' not found in prefix map"
This is the full console log

`Traceback (most recent call last):

  File "/home/samar/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 3418, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)

  File "<ipython-input-9-b94d27663566>", line 5, in <module>
    XbrlInstance = parse_ixbrl(ixbrl_path,cache)

  File "/home/samar/anaconda3/lib/python3.8/site-pa

[2021-05-09 18:03] manusimidt commented on #11
Seems like the instance document you are trying to parse is using the `ix` prefix without defining the namespace.
Normally the submission should declare all prefixes it is using with `xmlns`.

[code]

But since `ix` is the default namespace for the Inline XBRL Specification 1.1, it can be argued that the parser should assume that `ix` always belongs to the namespace `http://www.xbrl.org/2013/inlin

[2021-05-12 02:42] xareelee opened #12 "How to generate a class relationship diagram"
Actually, it's not a bug report.

I just wonder what tool do you use to generate this image:

![](https://github.com/manusimidt/xbrl_parser/blob/main/docs/img/parser_class_diagram.png?raw=true)

[2021-05-12 07:23] manusimidt commented on #12
@xareelee
I used [draw.io / diagrams.net](https://www.diagrams.net/).

Can only recommend it :) They also have a desktop application. But their online version is also very stable and fast.

[2021-05-12 07:24] #12 closed

[2021-05-16 04:04] xareelee commented on #12
Thanks for reply.

Is it generated by analyzing the code automatically, or by drawing this pic manually?

[2021-05-17 06:59] manusimidt commented on #12
@xareelee
No, unfortunately you have to draw it manually.

But i also think generating a diagram from python code is really hard, since python has weak types. Hence the diagram tool can not know for sure which type a member of a class has.

If you find a tool that works let me know 😆

[2021-05-21 17:43] manusimidt opened #18 "Make delay in HTTP Cache more intelligent"
Currently the HTTPCache waits the specified time, regardless of whether another request follows.
https://github.com/manusimidt/xbrl_parser/blob/5a1b3882e8b65f7815bbc330c9c010169c195951/xbrl_parser/cache.py#L77

It should have at least an internal clock that counts the number of millisecs between two requests.

[2021-05-25 12:22] shadow111 opened #20 "Is It possible to map the extracted fact for cashFlow, balanceSheet, profitAndLoss SUBREPORT?"
Hello,
is possible to map the extract facts to these subreport :
cashFlow,
balanceSheet,
profitAndLoss
Best

[2021-05-25 18:53] manusimidt commented on #20
Yes, the **presentation linkbase** structures the different facts from the instance document into multiple sections and tables.
I will add an example and screenshot later...

[2021-05-25 20:43] manusimidt commented on #20
The presentation linkbase describes by its hierarchy the order in which the concepts of the taxonomy are to be arranged.
Here you can see how the structure of the Balance Sheet is represented in the presentation linkbase of the extending taxonomy.

![image](https://user-images.githubusercontent.com/29599104/119565059-c492a680-bda9-11eb-98b5-2f7ad88b0bdc.png)

The screenshot is from a parsed instan

[2021-05-26 10:31] shadow111 commented on #20
can you please explain how to extract the linkbase using your library for this given file for example please?
https://drive.google.com/file/d/1ClSSbO79M3yJqB2Ml2KCHvXECUDOOCnA/view?usp=sharing

[2021-05-26 13:49] Pablompg commented on #20
I am also having problems reading the presentation linkbase. I am not getting what I expect.

The instance document I am working with is: [microsoft instance 10k 2020](https://www.sec.gov/Archives/edgar/data/320193/000032019320000096/aapl-20200926_htm.xml)

Although I can get the presentation links, the locators for each presentation link do not contain the information that the real file has. I ha

[2021-05-26 14:11] Pablompg commented on #20
I think you have shared a wrong url. There is no way to extract a linkbase from a doc file.

[2021-05-26 14:32] Pablompg commented on #20
I am also having problems getting information from the the presentation linkbase. In my case I am getting the information from: [microsoft 10k-2020 instance document(https://www.sec.gov/Archives/edgar/data/320193/000032019320000096/aapl-20200926_htm.xml) and the object instance.taxonomy.pre_linkbases does not contain the same information as the linkbase document. It is missing all the locators and

[2021-05-26 17:14] manusimidt commented on #20
@shadow111 On first sight it seems to me as the instance document you are referencing is a submission from the uk companies house, correct? The UK follows a strict reporting policy and thus does not allow for company specific extension taxonomies.
This means that all submissions use the same taxonomy and also the same presentation linkbase.
i.e: from your file:
[code]
 In the past i really only te

[2021-05-26 17:21] manusimidt opened #21 "Parsing of Presentation Linkbase for SEC submissions"
I am also having problems getting information from the the presentation linkbase. In my case I am getting the information from: [microsoft 10k-2020 instance document](https://www.sec.gov/Archives/edgar/data/320193/000032019320000096/aapl-20200926_htm.xml) and the object `instance.taxonomy.pre_linkbases ` does not contain the same information as the linkbase document. It is missing all the locators

[2021-05-27 06:39] manusimidt commented on #21
Do you mean the 2020 10-K from AAPL or the 10-K from Microsoft?
(you said microsoft but the url pointed to one from apple).

I could not find differences between the actual [presentation linkbase](https://www.sec.gov/Archives/edgar/data/320193/000032019320000096/aapl-20200926_pre.xml) and the structure of the parsed linkbase. However i only compared small parts of the linkbase, trying to figure ou

[2021-05-27 06:42] manusimidt commented on #20
@shadow111 I started with the question from @Pablompg, because I am already very familiar how the SEC EDGAR submissions are structured. But perhaps the explaination also helps you:
https://github.com/manusimidt/xbrl_parser/issues/21#issuecomment-849371513

Later today i will have a look at the same thing with the UK submissions you referenced.

[2021-05-27 20:55] manusimidt commented on #20
I was able to print the presentation linkbase for the submission you provided with the same code that I have shown in  https://github.com/manusimidt/xbrl_parser/issues/21#issuecomment-849371513.
However due to the closed reporting model the presentation linkbase for the UK submissions looks way uglier than the linkbases from the extension taxonomy of SEC submissions.

Differences between open and

[2021-05-28 09:52] Pablompg opened #24 "Make code and naming more standard"
I believe the way of using the library is not standard when downloading it from pypi.

Just a few non-standard issues about the library:

- When importing the library from pypi it is called py-xbrl. However the github project is called xbrl_parser. To download the library you have to run `pip install py-xbrl` but in the imports you have to write `from  xbrl_parser.cache import HttpCache`. The stan

[2021-05-28 10:56] Pablompg commented on #21
Thank you Manu. I was not obtaining the data because I was trying to get it in a wrong way. This solved the issue and provided a good coding example. I think we can mark the issue as solved

[2021-05-30 06:37] #21 closed

[2021-05-30 07:01] manusimidt commented on #24
I would also find it much nicer if the name in PyPi exactly matches the package name.
Initially I really wanted to get the pypi namespace "xbrl" for this libary. The project behind the namespace ["xbrl"](https://pypi.org/project/xbrl/) was never really developed and thus I asked the owner if he could transfer the namespace.
But unfortunately the current owner never responded to my emails and twitt

[2021-05-30 11:28] Pablompg commented on #24
The usage of `-` on pypi but un underscore `_` in the projet name should not be a problem. That is quite standard. It is also quite standard to have a library package called `py-something` on pypi but to have the project name as just `something` in github. Then when using the library you would do it like this: `from something import somethingelse`.

[2021-05-31 09:31] manusimidt commented on #24
@Pablompg so you would prefer if the name of the package would just be `xbrl`, correct?
So `py-xbrl` in pypi and `xbrl` in github?
I have no problem changing the name of the package and the github repository name to just `xbrl` instead of `xbrl_parser` :)

[2021-06-01 09:32] Pablompg commented on #24
I think it is up to you to go with either one of the options. I think either of the following options is standard:

- `py-xbrl` for package and `xbrl` for project
- `xbrl_parser` for package and `xbrl_parser` for project
- `py-xbrl_parser` for package and` xbrl_parser` for project
- `py-xbrl-parser` for package and `xbrl_parser` for project

[2021-06-01 11:48] manusimidt commented on #24
I think the first option (Renaming the package to just "xbrl" and keep the name "py-xbrl" in PyPi) is the best because then we would not have to change the name of the package in PyPi.
I will change it today and then release a new Version that also includes your pull request https://github.com/manusimidt/xbrl_parser/pull/26 :)

[2021-06-01 14:35] manusimidt commented on #24
@Pablompg

I will also implement the renaming of the package from `xbrl_parser` to `xbrl` into the new release (probably `1.3.0`).
This will introduce many breaking changes, thus i want to take some time for testing everything.
I will probably publish the new release tonight.

[2021-06-01 14:52] Pablompg commented on #24
@manusimidt Great news!

Thank you. I believe it would be better to release it with the tag `2.0.0` as this is a breaking change.

Although it is a breaking change, I believe it will be easier to work with the library from now on and everybody will benefit from it. Thank you ! :100:

[2021-06-01 15:01] manusimidt commented on #24
@Pablompg yes, you are probably right. I also thought of jumping to the major version 2.x.x.
Also according to https://semver.org/ it would be the right thing to do.

I just was not sure because there are so many python packages that are many years old and still on 1.x.x 😅
But we can also call the next release 2.0.0.

[2021-06-01 21:02] jamiehannaford opened #27 "Is there a way to retrieve a fact's ID?"
If you look at this tag:

[code]

I would like to access the `id` attribute in order to link together elements with `footnoteArc`. I don't see anything exposed in `AbstractFact` or `NumericFact`, but maybe I'm missing something.

[2021-06-02 07:08] manusimidt commented on #27
No you are not missing something.

I intentionally left the fact IDs out back then, since they are created by the filer and only serve for linking in the XBRL files. My goal at the time was to develop a parser that could convert the complex structure of XBRL into simple object structures and discard all unnecessary information to reduce complexity.

Theoretically if you store all the elements of t

[2021-06-02 10:08] jamiehannaford commented on #27
The [10K for PFE 2020](https://www.sec.gov/Archives/edgar/data/78003/000007800321000038/pfe-20201231_htm.xml) uses IDs to map a fact to a footnote:

In `pfe-20201231_htm.xml`:

[code]
[code]
[code]

I want to inspect the footnote for any nested facts. In the above example, "Other, net - $493" contains 2 more facts, so it's important to discount these to avoid double counting.

[2021-06-02 10:13] Pablompg opened #28 "The taxonomy with namespace http://fasb.org/us-gaap/2020-01-31 could not be found"
**Bug description**

**Steps to reproduce the behavior**
[code]
**Error Trace**
[code]

[2021-06-02 10:24] jamiehannaford commented on #27
If you could somehow link a fact to its footnotes that would be amazing. Another great feature btw is somehow linking a concept to all of its presentation/calculation locators. Very often I have to traverse the full linkbase in order to map a concept ID to a label, so having them available on the concept object itself would be 💯

This is quite important because very often companies get the balance

[2021-06-02 10:36] Pablompg commented on #28
I got the same error for the instance: `https://www.sec.gov/Archives/edgar/data/1040130/000143774921013213/pets20210331_10k.htm`

**Error Message**

[2021-06-02 10:45] Pablompg commented on #24
I think this issue was resolved. I can see the new py-xbrl version available at pypi and I was able to use it in production.

[2021-06-02 10:45] #24 closed

[2021-06-02 14:52] Pablompg commented on #28
Any idea on how to solve this issue in a general way? The problem is that the `.xsd ` document does not import all taxonomies used. I will have a deeper look into the code and see if I can think of an elegant solution to this problem.

[2021-06-03 07:53] manusimidt commented on #28
To deal with this issue I created a function that maps common namespaces (such as the dei or us-gaap taxonomy) to the corresponding namespace.
https://github.com/manusimidt/xbrl_parser/blob/75e1bf0c973d4c875b2598b4e2e462c8a99f1162/xbrl/taxonomy.py#L149-L191

However this apparently does not work in your case. I will check why it's not working and implement a fix.
I'm pretty busy until tonight, so

[2021-06-03 08:09] manusimidt commented on #27
I'll have a look at parsing the foodnotes and give you feedback by friday evening.

Correctly adding the correct resources or hierachies to each concept can be really challenging because you could have overriding relationships. For example you could have a taxonomy (tax1) that defines the following relationship `concept1 = concept_a + concept_b` and another taxonomy (tax2) that extends from the ta

[2021-06-03 19:58] #28 closed

[2021-06-03 20:01] manusimidt commented on #28
Seems to work now with both submissions you provided. The issue was that these submission do not even mention the us-gaap and dei taxonomies in their extension taxonomy. Due to the fact that both the us-gaap and the dei taxonomy are standard taxonomies we can easily parse and load these taxonomies even after the extension taxonomy was already parsed.

I will create a new minor version of the packa

[2021-06-03 20:10] Pablompg commented on #28
Awesome work! Thank you very much. I really appreciate the effort :+1:

[2021-06-07 05:53] manusimidt commented on #27
I am currently working on a solution to parse the footnote links.
It would be great if the <link:footnoteLink> elements would be parsed with the same code I use in the linkbase module for parsing extended XLinks (because they are basically just extended XLinks). However, I still need to change and split off some code in the linkbase module so that I can reuse it for the footnote links in the insta

[2021-06-08 14:15] Pablompg opened #30 "Submissions from CompSci"
When trying to parse this submission: [https://www.sec.gov/Archives/edgar/data/747540/000121390021011934/sprs-20201130.xml](https://www.sec.gov/Archives/edgar/data/747540/000121390021011934/sprs-20201130.xml) the library failed with the error:

  File "/home/pablo/.pyenv/versions/3.7.10/lib/python3.7/runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "/home/pablo/.pyenv/v

[2021-06-08 15:26] Pablompg commented on #30
It is also failing for this submission: [view-source:https://www.sec.gov/Archives/edgar/data/828916/000155837021001992/wri-20201231x10k.htm](view-source:https://www.sec.gov/Archives/edgar/data/828916/000155837021001992/wri-20201231x10k.htm) created with: Toppan Merrill Bridge iXBRL 9.6.7713.40453

[2021-06-09 13:19] manusimidt commented on #30
Thank you!
I will check this evening if i can find the issue.

[2021-06-09 17:28] manusimidt commented on #30
The issue is that the parser fails when parsing the context because the taxonomy could not be found.
However it should throw a "TaxonomyNotFound" Exception no AttributeError.
Furthermore i will check why the taxonomy could not be imported in this case.

The context:
[code]

The namespace:
[code]
In this particular case the schema for the namespace was not defined, but it is a standard taxonomy and

[2021-06-09 17:48] manusimidt commented on #9
This was resolved in #28

[2021-06-09 17:48] #9 closed

[2021-06-09 18:09] #30 closed, assigned to manusimidt

[2021-06-09 18:10] manusimidt commented on #30
Thank you for the issue!
The error occurred due to a small copy-and-paste error in the code

[2021-06-10 13:34] Pablompg commented on #30
Thank you for solving the issue @manusimidt . Would you consider a new release with this issue solved?

[2021-06-10 15:05] manusimidt commented on #30
Yes of course, sorry i forgot.

[2021-06-14 08:32] mrx23dot opened #32 "Example fails"
How to use parse_instance? Please update example.

[code]

  File "C:\tmp\SECgov\parse_sec.py", line 18, in <module>
    inst: XbrlInstance = XbrlParser.parse_instance(xbrl_url)
TypeError: parse_instance() missing 1 required positional argument: 'url'

[code]
  File "C:\tmp\SECgov\parse_sec.py", line 18, in <module>
    inst: XbrlInstance = XbrlParser.parse_instance(url=xbrl_url)
TypeError: parse_

[2021-06-14 08:53] #32 closed

[2021-06-14 08:55] manusimidt commented on #32
@mrx23dot Thank you for filing the issue.
Was a capitalization error.
change
[code]
to
[code]

[2021-06-14 09:44] mrx23dot commented on #32
Thank you!

[2021-06-15 03:14] hakube opened #37 "Is there a way to show the complete tags?"
Awesome library. I have a question btw if you don't mind?

Is there a way to show the complete tags for each facts?

ex.

* us-gaap:AssetsCurrent
* dei:SomeTagIntheDocument
* ticker:SomeTagInTheDocument

I'm looking to separate the standard and non-standar tag in the SEC filings

[2021-06-15 09:57] manusimidt commented on #37
Thanks a lot!
The tag name of each fact is discarded because it is only needed for connecting the fact with the concept from the taxonomy. The filer could theoretically also use a completely different namespace for us-gaap and then the xml-tag would change i.e: `us-gaap-2020:AssetsCurrent` instead of `us-gaap:AssetsCurrent`.

Moreover, the xml tags are only present in XBRL filings and not in the n

[2021-06-20 19:41] tedjansen commented on #11
Hello,

I'm experiencing the same issue. The XBRL is from the DTA (Dutch Tax Authority). The XSD schema files are retrieved correctly. Attached is the XBRL but without any data. It seems to be the namespace that the DTA uses, bd-i. If I patch the module file 'instance.py' with the bd-i and iso2417 namespace, it unfortunately doesn't work.

[btw-gh.txt](https://github.com/manusimidt/xbrl_parser/fil

[2021-06-22 11:28] manusimidt commented on #11
@tedjansen
The file you provided correctly defines both namespaces `bd-i` and  `iso2417` correctly.
However the parser can not find the **url of the xml schema** that defines the concepts (i.e: where the concept `bd-i:ValueAddedTaxPrivateUse` is defined).
I also could only find it via google, the correct schema url is: [http://www.nltaxonomie.nl/nt13/bd/20181212/dictionary/bd-data.xsd](http://www.

[2021-06-22 11:33] manusimidt commented on #11
In this particular case the parser would just have to add a `.xsd` to the namespace to get to the schema url.
However, this is not the normal way to get from a namespace to an xml schema. Or am I missing something in the XML specification?

[2021-06-22 13:02] tedjansen commented on #11
That seems unfortunately to be the way. I've parsed 4 different types of XBRL files locally (DCIT (Dutch Corporate Income Tax/VPB), DIT (Dutch Income Tax/IB), VAT (OB) and filed accounts (KVK deponering, Dutch GAAP,) but they all give an error when downloading any dictionary from nltaxonomie.nl.

<img width="1879" alt="Error from NL Taxonomy download" src="https://user-images.githubusercontent.com

[2021-06-23 10:01] manusimidt commented on #11
I found a mapping between namespace and schema url in the releasenotes of the sbr taxonomie (page 3):
![image](https://user-images.githubusercontent.com/29599104/123076928-dfdcea00-d419-11eb-9992-e86c7135ffc1.png)

I am not quite sure if it is the best idea to add a fallback where the parser simply tries to add a `.xsd` to the namespace, make an http request and check if it was successful.

In my

[2021-06-24 14:02] manusimidt commented on #11
@tedjansen I was able to parse the [file you provided above](https://github.com/manusimidt/xbrl_parser/files/6682979/btw-gh.txt) by manually adding the missing mapping to the ns_schema_map attribute of the taxonomy module. Please install the latest version of py-xbrl (`py-xbrl 2.0.3`) and check if it works for you.

[code]

I know that this is not the prettiest solution but it should work for now.

[2021-06-24 19:35] mrx23dot opened #38 "xml parsing errors"
Lib throws exception on parsing some (new) ixbrl fillings. (list below)
Not sure how SEC tolerates these and what they store in their xml.

lxml==4.6.3
py-xbrl==2.0.2

inst = xbrlParser.parse_instance(url)

[code]

e.g. all of these:

https://www.sec.gov/Archives/edgar/data/0000017313/000001731321000075/cswc3312110-k.htm
https://www.sec.gov/Archives/edgar/data/0000027093/000149315221006145/form10-

[2021-06-25 06:26] manusimidt commented on #38
Please note that py-xbrl only parses **XBRL Documents**. The files you provided are just **regular HTML files** and do not follow the XBRL Standard.
You can check if a file follows the iXBRL Standard either [manually by looking at the Index file of the submission](https://github.com/manusimidt/xbrl_parser/discussions/36#discussioncomment-918763) or programmatically i.e via the [Structured Disclosu

[2021-06-25 06:30] manusimidt commented on #38
However, perhaps a better error message could be issued, indicating that you should check whether the given file is really an XBRL file 🤔.

[2021-06-25 16:09] mrx23dot commented on #38
SEC told me it wasn't mandatory for small companies to include inline xbrl in the past, but it will be from June 15, 2021.
Which means this lib won't cover every historical cases, and an html greper is also required.

Yeah a simple error msg would be nice that this file doesn't have inline xbrl. Then we can fall back to html greper.

[2021-06-25 16:09] #38 closed

[2021-06-26 12:12] manusimidt commented on #38
Not exactly. Since 2009 it is mandatory for every company (with assets over 10 Mio USD) to publish the 10-K and 10-Q in XBRL.
In 2019 the SEC began to [slowly transition from regular XBRL to inline XBRL (iXBRL)](https://www.sec.gov/structureddata/osd-inline-xbrl.html).

So yes, there are currently some small companies that still don't file **inline**XBRL files (html), but they usually append a sep

[2021-06-27 19:11] tedjansen commented on #11
Thx, that works if the file ends on .xml. The XBRL ends on .xbrl by default in The Netherlands, so the class automatically switches to the ixbrl processing variant. Unfortunately I get the same error, but by renaming it works.

[2021-06-27 19:47] manusimidt opened #39 "Parser interprets .xbrl files as iXBRL"
Thx, that works if the file ends on .xml. The XBRL ends on .xbrl by default in The Netherlands, so the class automatically switches to the ixbrl processing variant. Unfortunately I get the same error, but by renaming it works.

_Originally posted by @tedjansen in https://github.com/manusimidt/xbrl_parser/issues/11#issuecomment-869211356_

[2021-06-28 06:25] #39 closed

[2021-06-28 06:28] manusimidt commented on #39
The XbrlParser class had a little bug here. I fixed it and included the .xbrl extension to to the list of file formats for XBRL Instance documents. I will create a new minor version that includes this fix.
You can either update your `py-xbrl` installation to `2.0.4` or directly use the parse_xbrl function of the instance module:

[code]

[2021-06-28 14:34] mrx23dot commented on #38
What about this 10-K (2021-05-26)?
https://www.sec.gov/Archives/edgar/data/0000017313/000001731321000075/0000017313-21-000075-index.htm

It doesn't have any xml among filling files, neither inline xbrl, only plain html.

[2021-06-29 16:30] Pablompg commented on #10
I am working on building a dictionary that maps labels with concept's ids. This is my code so far:

[code]

I want to be able to get the label for a given fact. I know this is not a great solution. Do you have any ideas on how to improve it?

[2021-06-30 06:23] manusimidt commented on #38
Correct, this submission does not contain any XBRL tagging.
Maybe there is an exception rule for this company that they do not have to file in iXBRL.
You can find the original legislation regarding which company has to file in XBRL in [RIN 3235-AJ71](https://www.sec.gov/rules/final/2009/33-9002.pdf) page 43 and following.

[2021-07-01 08:55] manusimidt opened #40 "Found a possible parsing error:"
Found a possible parsing error:

https://www.sec.gov/ix?doc=/Archives/edgar/data/0000320193/000032019320000096/aapl-20200926.htm

**CommonStockParOrStatedValuePerShare**  should have 2 instances, but the lib only gives back 09/28/2019, even when not filtering for len(fact.context.segments)

Common Stock, Par or Stated Value Per Share
As of 09/26/2020
0.00001

Common Stock, Par or Stated Value Per

[2021-07-01 09:08] manusimidt commented on #40
You are right, in this case the number is tagged twice by two encapsulating facts:

[code]

I will check the inline XBRL Specificiation and think about how the parser could implement this.

[2021-07-01 09:13] manusimidt commented on #40
The current inline XBRL Specification 1.1 does not mention the possibility of tagging one number twice. 🤔
https://www.xbrl.org/specification/inlinexbrl-part1/rec-2013-11-18/inlinexbrl-part1-rec-2013-11-18.html#d1e5896

However, since this seems to occur in multiple submissions and doesn't conflict with other elements of the submission, it would be good to just implement this anyway.

[2021-07-01 10:39] mrx23dot opened #41 "Currency extraction"
Any chance we could extract the reportedCurrency e.g: "USD", it's in the high level xbrli header.

`<xbrli:measure>iso4217:USD</xbrli:measure>`

in https://www.sec.gov/ix?doc=/Archives/edgar/data/0000320193/000032019321000056/aapl-20210327.htm

It's also in xml:
[code]
https://www.sec.gov/Archives/edgar/data/1403570/000149315221006582/qtmm-20190630.xml

[2021-07-01 16:02] manusimidt commented on #10
Yes, the current very deep structure of object instances is quite annoying.  In the past I tried to fix this problem by creating a compile method that takes all information from the linkbases and directly associates it with the different concepts.

While this is quite easy for the labels, i had issues recreating the hierachical structures of the presentation, definition and calculation linkbases w

[2021-07-01 16:03] manusimidt commented on #10
But yes, the code you provided is currently the best and only method to get the labels.

[2021-07-01 16:26] manusimidt commented on #24
@Pablompg As you already mentioned, it would be nice if the naming would be more coherent. Thus I am thinking about renaming the github repository from `xbrl_parser` to `py-xbrl`.

What do you think of the idea? The drawback is that the old links to the repository would no longer work and we would have to update the git remote urls. But after the change, the naming would be completely coherent.

[2021-07-01 22:36] Pablompg commented on #10
I think storing the label inside the concept would be great.

I don't foresee any issues in having the information duplicated. My concerns would be:
- How much information would be duplicated?
- How much slower will the parsing of a filling be by including this new attribute inside the concept?

Using the nested for loop I shared in my first comment I didn't notice any decrease in performance, I d

[2021-07-02 12:07] manusimidt commented on #10
Yes, i also think that from a performance perspective this would not be a problem. If we could find a way to "compile" the information from the linkbases and assign it directly to the various concepts, we might not even need the current linkbase structure.

[2021-07-02 20:29] manusimidt commented on #10
This is working pretty well for now. But tomorrow I would like to test the change a little bit and add a method getLabel() to the class Concept. After that i will publish a new version of the package.

![image](https://user-images.githubusercontent.com/29599104/124325379-c445b200-db84-11eb-9bd8-e14c4578b632.png)

[2021-07-05 11:57] manusimidt commented on #41
Unfortunately I am not entirely sure what you mean.
The XbrlInstance object instance has a dictionary called unit_map which stores each unit with the corresponding id in the dictionary.
![image](https://user-images.githubusercontent.com/29599104/124467705-7f926480-dd98-11eb-822d-9ad6a2fbdd83.png)

The parser also automatically links the units to the facts:
![image](https://user-images.githubuserco

[2021-07-05 12:25] manusimidt commented on #10
After cfd59c358d1415ef43f0f7cd1fe11fee57820487 its now working quite good for remote submissions. But I still run into some errors when parsing locally saved submissions.

[2021-07-06 20:21] mrx23dot commented on #41
Works great, thanks!

[2021-07-06 20:21] #41 closed

[2021-07-06 21:42] mrx23dot opened #42 "Rounding error"
Parsing
   https://www.sec.gov/Archives/edgar/data/0000320193/000032019321000056/aapl-20210327.htm

for
    fact.concept.name == 'UnrecognizedTaxBenefits'

results in
   fact.value == 16899999999.999998

source seems to have it correctly:

"us-gaap:UnrecognizedTaxBenefits" scale=3D"9" id=3D"id3VybDovL2RvY3MudjEvZG=
9jOmRhZDhkZWU5YWJlYTQ1NDM4YTBlMDI0ZmZiODE1ZDFhL3NlYzpkYWQ4ZGVlOWFiZWE0NTQzO=
GEwZTA

[2021-07-07 12:28] #37 closed

[2021-07-07 12:36] manusimidt commented on #42
Thanks, i could replicate the issue you are describing and will work on a fix 👍🏼

[2021-07-07 12:43] #42 closed

[2021-07-16 12:49] mrx23dot opened #45 "zip download fails"
I'm trying to speed up the download, and read that the lib supports **zip download**, but looks like it's not complete yet.
The provided zip file is a valid one.
py-xbrl==2.0.4

[code]

gives

[code]

[2021-07-16 14:46] mrx23dot commented on #45
Figured it out, works very fast.

[code]

Is it possible to automatically find the entry file? One zip can have many xml files, with random names.

[2021-07-18 09:37] manusimidt commented on #45
In the case of SEC submissions you could use the indices like the [Structured Disclosure RSS Feeds](https://www.sec.gov/structureddata/rss-feeds-submitted-filings) to figure out which file the instance file is.

![image](https://user-images.githubusercontent.com/29599104/126062423-76ab7b0c-2985-4746-bc3c-0aff2c287577.png)

Finding a reliable **general** way to find the name of the instance documen

[2021-07-18 09:39] manusimidt commented on #45
The monthly rss feeds from the SEC also contain the link to the zip folder enclosures for the submission. Note that not every submission has a zip enclosure.

[2021-07-18 11:49] mrx23dot opened #46 ""no" vs 0 represantation"
In
https://www.sec.gov/ix?doc=/Archives/edgar/data/0001733257/000156459021027625/fnch-10q_20210331.htm

for **InventoryNet** the lib extracts **"no"**, but the website says **Fact: 0**

So I think there is a special case for interpreting "no" as 0 in the following xml context:

source:
<ix:nonFraction unitRef="U_iso4217USD" id="F_000402" name="us-gaap:InventoryNet" contextRef="C_0001733257_srtCoun

[2021-07-18 13:25] mrx23dot opened #47 "Date parsing fails"
Parsing the following 2 URLs give date parsing exceptions.

Are they violating the standard or the lib should be able to handle them?
(although it would be risky guessing the date)

CODI time data 'Dec 31' does not match format '%B %d'
url = 'https://www.sec.gov/Archives/edgar/data/0001345126/000134512621000014/codi-20210331.htm'

MFA time data 'Dec 31' does not match format '%B %d'
url = 'https:/

[2021-07-18 14:27] mrx23dot commented on #45
Which SEC fillings usually don't have zip?

Here is one way to identify entry file in dir, by check which file is not included by others, seems to be working well.

[code]

[2021-07-18 14:27] #45 closed

[2021-07-19 21:40] mrx23dot opened #48 "Failed namespace-uri parsing"
Found a few rare cases, parsing these zipped fillings gave **"namespace couldn't be found"** errors.
It worked great on 2000 other symbols.

See SEC response to this at the end. They seem to suggest that the lib doesn't follow 301 perm.redirection, but I don't think that's the case because code says:
_session.get(url, headers=headers, allow_redirects=True)
Or the response is in a special html head

[2021-07-21 05:54] manusimidt commented on #46
As you have already correctly recognized, the fact "InventoryNet" in the iXBRL Instance document only holds "no" as value:

[code]
It is also true that the SEC's iXBRL viewer interprets this "no" value as 0.
The inline XBRL Specification 1.1 defines the `ix:nonFraction` as follows:

https://www.xbrl.org/specification/inlinexbrl-part1/rec-2013-11-18/inlinexbrl-part1-rec-2013-11-18.html#sec-nonFract

[2021-07-21 06:07] manusimidt commented on #47
You are correct, this is a bug. The Facts where the parser fails use the value format: ixt:datemonthdayen. According to the Specification the the format "Accepts months in full or abbreviated form, with non-numeric separator" (https://www.xbrl.org/Specification/inlineXBRL-transformationRegistry/REC-2011-07-31/inlineXBRL-transformationRegistry-REC-2011-07-31.html#sec-ixt-11).

This means the value

[2021-07-21 06:31] #47 closed

[2021-07-21 06:38] manusimidt commented on #45
@mrx23dot
Unfortunately, I do not know exactly. There are a few months where all zip enclosures are missing. Apart from that, it looks pretty random to me. However, with the newer ones, however, just about every submission has a Zip Enclosure.

Yes, that's how it should work. It's a bit cumbersome but if you don't want to access external indices maybe a solution :)

[2021-07-21 06:58] manusimidt commented on #48
@mrx23dot Both issues #47 and #48 should now be fixed. I will publish a new version of the libary in the next few days, since I have to fix another issue before publishing a new version of the package.

[2021-07-21 06:58] #48 closed

[2021-07-21 08:15] mrx23dot commented on #46
For numeric value I also saw these:

        elif val.lower() in [u'☒', 'true', 'yes']:
          val = True
        elif val.lower() in [u'☐', 'false', 'no']:
          val = False
        elif val.lower() in [u'—', '-']: # considered 0 for numeric values
          val = 0

Just make sure '☐', 'false' won't be 0. (like tick boxes)

[2021-07-21 08:20] mrx23dot commented on #45
Please report discovered problems to
structureddata@sec.gov – questions about structured data (e.g., XBRL; XML; FpML; FIX)
they are happy to look into it.

[2021-07-21 08:28] mrx23dot commented on #48
I will test the changes, seems to be t he best parsing lib so far, thank you!

[2021-07-23 02:04] shadow111 opened #49 "parsing uk submission "KeyError: 'bus'""
Hello,
i have encountered this little problem parsing uk submissions
`  inst = parse_ixbrl(file_path, cache)
  File "/Users/lafiraed/Documents/finance-pipelines/compagniesHouse/uk_company/xbrl/instance.py", line 407, in parse_ixbrl
    context_dir = _parse_context_elements(xbrl_resources.findall('xbrli:context', NAME_SPACES), ns_map, taxonomy, cache)
  File "/Users/lafiraed/Documents/finance-pipel

[2021-07-25 13:54] manusimidt commented on #49
I get the following error when parsing the submission provided by you.

[code]

Seems like the parser uses somewhere the wrong file encoding.
`curr_S%C3%A3oTom%C3%A9Pr%C3%ADncipeDobra` should be `curr_SãoToméPríncipeDobra`

[2021-07-25 15:09] manusimidt commented on #48
@mrx23dot The fixes are now included in the new release [V2.0.5](https://pypi.org/project/py-xbrl/2.0.5/).

[2021-07-25 20:40] shadow111 commented on #49
do you have any idea on how to fix it please?

[2021-07-27 05:44] manusimidt commented on #49
I looked at the label linkbase again and found that this has nothing to do with the file encoding after all. The href attribute of the linkbase is simply url-encoded here.

[code]

https://xbrl.frc.org.uk/cd/2014-09-01/currencies/currencies-2014-09-01-label.xml

[2021-07-27 05:52] manusimidt commented on #49
Now I am getting the same error you described earlier... 😄
Seems like this was a bug that was introduced in the latest versions of the package.

I will now check why the submission you provided fails with the error message `KeyError: 'bus'`.

[2021-07-27 06:03] manusimidt commented on #49
Found the issue. There is always this one report which is structured slightly different...
The creator of this report defines the namespace "bus" for every xml-element instead of just defining it once at the top of the submission.
The parser currently only uses the namespace-prefix map defined by the xmlns attributes at the root element. This is why it can'T find the corresponding namespace for th

[2021-07-31 22:14] mrx23dot opened #52 "Sign missing"
In
https://www.sec.gov/ix?doc=/Archives/edgar/data/0000320193/000032019321000010/aapl-20201226.htm

for
IncreaseDecreaseInAccountsReceivable

The html displays: (10,945), but the lib returns positive number, weirdly Sign=Positive is stated in xbrl, but the minus sign is needed for change_in_working_capital  calculation.

[2021-08-02 11:13] #49 closed

[2021-08-02 13:08] #46 closed

[2021-08-02 13:44] manusimidt opened #53 "Add support for iXBRL fact-format ixt-sec:numwordsen"
As defined in https://www.sec.gov/info/edgar/edgarfm-vol2-v50.pdf
[code]

[2021-08-05 21:51] mrx23dot opened #56 "Slow parsing on some fillings"
MSFT fillings parse very slowly, e.g. parsing only one of them takes 11secs @ 100% CPU.

ixbrl in html seems like a valid xml, cannot we just cut it out, parse it, and never use regexp?
There are 2120074 regexp calls, looks like every tag is searched this way.
Downloading the same file and parsing it with bs4 only takes 4secs:
    from bs4 import BeautifulSoup
    soup = BeautifulSoup(r.text, 'htm

[2021-08-06 09:14] mrx23dot commented on #56
This is my suggestion, parsing time 1.2s!

[code]

[2021-08-07 13:05] mrx23dot opened #58 "undefined entity exception"
When parsing:
https://www.sec.gov/Archives/edgar/data/0001764013/000121390019023173/f10q0919_healthsciencesacq.htm

I get exception:
undefined entity: line 15, column 172

via
inst = XbrlParser(cache).parse_instance(url)

py-xbrl==2.0.7

[2021-08-09 20:40] mrx23dot commented on #52
Any chance you could look into this one?
It's a blocking one for me.

Cheers!

[2021-08-09 21:17] manusimidt commented on #52
Ok, I will look into it tomorrow :)

[2021-08-10 08:47] manusimidt commented on #52
The parser correctly reads in both facts. So this has something to do with the accounting background of the concept. Unfortunately, my knowledge of accounting is very limited. But what I noticed is that the fact of the previous time period is positive, but has a negative sign.

![image](https://user-images.githubusercontent.com/29599104/128836138-92ed5890-565a-4a8b-9cea-94f7e33e4a22.png)

in XBRL:

[2021-08-10 08:47] #52 closed

[2021-08-10 09:05] manusimidt commented on #56
Additionally I do not really understand why you are only searching for the `ix:header` XML Element. **The entire document can have Facts (`ix:nonFraction`) at any level and in every line of the document.** In your code snippet you just ignore all facts that are outside of the `ix:header` XML Element.

[2021-08-10 09:12] manusimidt commented on #58
![image](https://user-images.githubusercontent.com/29599104/128840541-e4ebf1c5-a456-4f5e-9578-862a4816417e.png)

The file `f10q0919_healthsciencesacq.htm` is just a normal HTML document and thus can not be parsed by py-xbrl.
Please use the corresponding Instance Document for this particular filing:
https://www.sec.gov/Archives/edgar/data/1764013/000121390019023173/hsac-20190930.xml

[2021-08-10 09:12] #58 closed

[2021-08-10 09:31] mrx23dot commented on #56
As I read the lxml is the fastest C based parser.
This BeautifulSoup is just an API around lxml (and others).

There is also an eTree API for lxml: https://lxml.de/tutorial.html
Not sure if it allows filtering for specific tags to parse only.

The current eTree implementation uses python based regexp, based on profiling, that's why it's so slow.

I think the speed also comes from not parsing the h

[2021-08-10 12:21] manusimidt commented on #56
The majority of the XBRL-facts are in the body of the HTML document. The `ix:hidden` element only contians facts that should not be displayed in the HTML report visible to the normal user. In the case of sec submissions the hidden facts are usually the facts that are tagged with the dei taxonomy. These facts contain meta information about the document itself.

All other financial XBRL-facts (like

[2021-08-10 12:22] manusimidt commented on #56
Here is a short explaination of taxonomies and linkbases:
https://manusimidt.dev/2021-07/xbrl-explained

[2021-08-10 20:25] mrx23dot opened #59 "Support nested Facts"
In
https://www.sec.gov/ix?doc=/Archives/edgar/data/0001439725/000156459020056735/bdsx-10q_20200930.htm

for
DocumentPeriodEndDate

returns
'September 30,'

ctx
![ctx](https://user-images.githubusercontent.com/4163396/128930902-8dae1e49-3749-4282-9736-a8e62f1de390.jpg)

but web view shows:
September 30, 2020

Works on others.

(not critical, only using it for sanity checking)

[2021-08-10 20:26] mrx23dot commented on #59
some others:
https://www.sec.gov/ix?doc=/Archives/edgar/data/0001122904/000156459020035177/ntgr-10q_20200628.htm
https://www.sec.gov/ix?doc=/Archives/edgar/data/0001439725/000156459020056735/bdsx-10q_20200930.htm
https://www.sec.gov/ix?doc=/Archives/edgar/data/0001720592/000156459020024317/rpay-10q_20200331.htm

[2021-08-11 21:28] mrx23dot commented on #52
Ah it just needs inverting to mach up with the web view, easy enough, cheers!

[2021-08-11 21:55] mrx23dot opened #60 "Fails to parse xml"
**Trying to parse:**
https://www.sec.gov/Archives/edgar/data/104169/000010416914000019/wmt-20140131_cal.xml

**gives:**
Exception has occurred: AttributeError
'NoneType' object has no attribute 'attrib'

**for**
inst = XbrlParser(cache).parse_instance(url)

**trace:**
    inst = XbrlParser(cache).parse_instance(url)
  File "C:\python36\lib\site-packages\xbrl\instance.py", line 652, in parse_instan

[2021-08-13 15:48] mrx23dot commented on #56
I made same initial progress with integrating lxml, see branch
https://github.com/mrx23dot/py-xbrl/tree/lxml

got the namespace map, and etree root, but fails at
 root.find('.//{}schemaRef'.format(LINK_NS))
returns None

[2021-08-13 19:51] manusimidt commented on #59
I understand why this can be confusing, but in the example you provided, the concept `dei:DocumentPeriodEndDate` really only holds the value September 30.

Nested facts are currently not supported by the libary, but this is one of the features I really want to implement in the near future.

[code]

For now I suggest to use the context of the fact tagged with the concept `dei:DocumentPeriodEndDate`

[2021-08-13 20:49] mrx23dot commented on #59
Fact end date should also work then.
Is there a way to tell if a fact is incomplete (nested)?

What about these issues?

Weirdly it doesn't even find DocumentPeriodEndDate in: (web view shows it)
https://www.sec.gov/Archives/edgar/data/0001583107/000155837020010023/tbph-20200630x10q.htm

Also doesn't find StockholdersEquity in (it's highlighted in web view):  (shouldn't be nested)
https://www.sec.

[2021-08-16 21:20] mrx23dot opened #62 "Parsing <TEXT> fails"
**Parsing of**
https://www.sec.gov/Archives/edgar/data/0001634379/000156459020053234/mtcr-10q_20200930.htm

**causes  exception** in XbrlParser(cache).parse_instance(url)
Saying: not well-formed (invalid token): line 7, column 2 Thus most likely also other fillings from the same company.

**SEC's response:**

Please look at the contents of the link.  You will see that like every other one of the m

[2021-08-17 20:16] mrx23dot opened #63 "2 name space errors"
For these two:
https://www.sec.gov/Archives/edgar/data/0001686850/000121390021042028/f10q0621_motusgihold.htm
https://www.sec.gov/Archives/edgar/data/0001553643/000121390021017556/f10k2020_relmadatherapeutic.htm

I get:
[code]
Maybe it's missing www?

Is it a filling or a lib issue ?

Cheers

[2021-08-17 20:31] mrx23dot opened #64 "Missing xbrl resource"
For
https://www.sec.gov/Archives/edgar/data/944745/000156459021013168/civb-20201231.htm

It says:
[code]
web view shows ixbrl content, although not every number.
https://www.sec.gov/ix?doc=/Archives/edgar/data/944745/000156459021013168/civb-20201231.htm

index page shows ixbrl content, and no primary xml file
https://www.sec.gov/Archives/edgar/data/0000944745/000156459021013168/0001564590-21-01316

[2021-08-18 12:14] mrx23dot commented on #56
I have done the integration of lxml. Turns out it isn't the bottleneck :(
It's the simple compare_uri(uri1: str, uri2: str) function.

Anyway we could eliminate or reduce the number of calls to it?
It's called **half a million times**, for one filling, each call has 2 regexp.

[2021-08-18 14:58] mrx23dot commented on #18
Done in https://github.com/manusimidt/py-xbrl/pull/65

[2021-08-21 17:56] jonkatz6 opened #66 "Any way to get textual labels?"
Is there any way to retrieve the textual label corresponding to a fact when it is in a table as follows?

![image](https://user-images.githubusercontent.com/40470813/130330628-462aa201-7bb8-4a31-9a37-894d1e83dbab.png)

In the above table, under Net Sales, Products, Services and total net sales each correspond with tag : `us-gaap:RevenueFromContractWithCustomerExcludingAssessedTax`.

I was able to

[2021-08-24 08:54] manusimidt commented on #66
Labels are stored in the label linkbase the taxonomy schema imports.
`py-xbrl` automatically connects the labels to the concepts, so you can just access it from the concept object.

An example:
[code]

Another complete example that also extracts the labels of the members:
[code]
This will return the following output:
[code]

Does this answer your question? :)

[2021-08-24 09:07] manusimidt commented on #62
Hello, please make sure to only parse documents that follow the XBRL or iXBRL specification.
The document https://www.sec.gov/Archives/edgar/data/0001634379/000156459020053234/mtcr-10q_20200930.htm is a normal HTML document without any XBRL stuff.
Use the [Instance Document](https://www.sec.gov/Archives/edgar/data/1634379/000156459020053234/mtcr-20200930.xml) of this submission for extracting data

[2021-08-24 09:07] #62 closed

[2021-08-24 09:12] manusimidt commented on #63
The taxonomy (STPR 2021) that the parser can not find is in draft and not officially released.
See https://www.sec.gov/structureddata/osddrafttaxonomyfiles
I am not quite sure why these two submissions use this taxonomy, however I will add it to the mapping :)

[2021-08-24 09:18] #63 closed

[2021-08-24 09:23] mrx23dot commented on #62
Ah, this is just a different error indicating non ixbrl file.

I could add a pre-check in the lxml implementation that would filter this out.
Can we say that every valid htm (non xml), must contain "ixbrl" lowercase text to be valid?

[2021-08-24 20:07] mrx23dot opened #69 "Missing fact from ixbrl"
For
https://www.sec.gov/ix?doc=/Archives/edgar/data/0001365135/000155837021005716/wu-20210331x10q.htm

The lib doesn't extract **DocumentPeriodEndDate** at all, it's there on the web view.
First time I have seen this problem. Even if it's nested I still got back something. I don't think I'm filtering it out.

It only founds these
[code]

In source:
[code]

Does it work for you?

[2021-08-24 20:31] mrx23dot commented on #63
Why doesn't the recursion include base taxonomy downloads?
The lib already knows what's missing, so we wouldn't need to hardcode the new docs every year.

[2021-08-24 23:52] jonkatz6 commented on #66
This actually does answer my question. I had found a very round about way of doing it which did not work with the old file structure.  As a follow up though... is there any way to select for a table? For example the above shows a consolidated statement of operations. I've managed to find where that is specified in the taxonomy, but i am lost as to how i might find the net sales corresponding with

[2021-08-25 01:22] jonkatz6 commented on #69
using the url above the library did not work.
using the url: `https://www.sec.gov/Archives/edgar/data/0001365135/000155837021005716/wu-20210331x10q.htm` worked but did not result in a found **DocumentPeriodEndDate**.

using the url for the xbrl itself :  `https://www.sec.gov/Archives/edgar/data/1365135/000155837021005716/wu-20210331x10q_htm.xml` did work to find the **DocumentPeriodEndDate**

[cod

[2021-08-25 01:28] jonkatz6 commented on #64
The primary xml file is in the data files table with the type: XML and description: EXTRACTED XBRL INSTANCE DOCUMENT.

url for the primary xml file is : https://www.sec.gov/Archives/edgar/data/944745/000156459021013168/civb-20201231_htm.xml

i've found the xml files to be the most reliable to parse and so typically use them as opposed to the inline xbrl html files.

[2021-08-25 08:20] mrx23dot commented on #64
Shouldn't the lib find the data files starting from the main document? I would imagine they are highly linked.

Yeah normally I also use the xml, because that's what's in the zip download, this is only for debugging.

[2021-08-25 08:51] mrx23dot commented on #69
Interesting the **xml** version extracts the DocumentPeriodEndDate:
https://www.sec.gov/Archives/edgar/data/1365135/000155837021005716/wu-20210331x10q_htm.xml

But the **ixbrl** original htm doesn't:
https://www.sec.gov/Archives/edgar/data/1365135/000155837021005716/wu-20210331x10q.htm

Sounds like a parsing error.
manusimidt told me we should prefer ixbrl htm (original filling) over the SEC extra

[2021-08-25 08:57] mrx23dot commented on #66
This might help, see extracted labels
https://github.com/manusimidt/py-xbrl/issues/21

[2021-08-25 12:32] mrx23dot commented on #20
These are the naming conventions I have seen, they are useful for selecting the correct fact if listed multiple times.

[code]

How can I list facts under a given section in an efficient way? eg:
[code]

Or decide if fact belongs to given presentation arc 'aapl-20200926.xsd#CONSOLIDATEDSTATEMENTSOFCASHFLOWS' ?
**inst.facts** is on a different branch from **inst.taxonomy** in the object tree.

[2021-08-30 10:21] mrx23dot commented on #53
An example:
LongTermDebt expected 50000000, got fifty thousand

in
https://www.sec.gov/Archives/edgar/data/0001620533/000162053320000070/shak-20200624.htm
https://www.sec.gov/Archives/edgar/data/0001620533/000162053320000070/shak-20200624.htm

source:
[code]

simple look up values:
[code]

Reference implementations for **parsing complex ones**, e.g. fifty thousand (search for numwordsen)
https://g

[2021-09-01 18:59] manusimidt commented on #63
The libary does indeed automatically download and parse all taxonomies that are imported in the respective taxonomy schema files.
However some filers (expecially from the US) do not import the taxonomies.

They declare the namespace:
[code]

but the following schema import is **missing**:
[code]

Using a namespace without declaring the schema url for the taxonomy behind the namespace is bad practi

[2021-09-01 19:03] manusimidt commented on #62
I am not entirely sure what you mean with the following statement:

for an ixbrl instance document to be valid, it must comply with the [iXBRL specification](https://www.xbrl.org/specification/inlinexbrl-part1/rec-2013-11-18/inlinexbrl-part1-rec-2013-11-18.html).

This includes many validation rules.
See for example the validation rules for the `ix:nonFraction` elements:
https://www.xbrl.org/speci

[2021-09-01 21:36] mrx23dot commented on #63
When we extract the imports cannot we just try to add the declared namespaces too?
(at least the ones that look like URL)

[2021-09-03 20:46] mrx23dot opened #71 "Date parsing fails"
https://www.sec.gov/Archives/edgar/data/0001580905/000119312519281533/d802337d10q.htm

ixbrl gives:
[code]

index
https://www.sec.gov/Archives/edgar/data/0001580905/000119312519281533/0001193125-19-281533-index.htm

[2021-09-19 07:51] #71 closed

[2021-09-19 08:03] manusimidt commented on #69
Yes, looks like a parsing error. The [iXBRL Instance Document](https://www.sec.gov/Archives/edgar/data/1365135/000155837021005716/wu-20210331x10q.htm) certainly contains the DocumentPeriodEndDate fact.
[code]

I think the fact is not parsed because it contains additional HTML Elelemts (the bold tag).

[2021-09-19 08:08] manusimidt commented on #69
Yes, this is the issue:
https://github.com/manusimidt/py-xbrl/blob/a2aca03bd2cef1853c75ba8af25a04d0d250edc3/xbrl/instance.py#L416-L417

I will implement a fix.

[2021-09-20 08:34] mrx23dot commented on #69
In bs4 we have these:
.text is recursive (what we want), there should be an equivalent for it in etree
.string is only for one given item (wouldn't go into bold tag)

[2021-09-20 09:10] manusimidt commented on #69
Yes, thats correct.
With bs4 it is really easy to extract the text recursively for the given element.
I could not find any equivalent for it in etree. Please let me know if you find a solution.

I am currently implementing a function that extracts the text recursively but i don't know if that is the best way of doing.

[2021-09-20 09:12] manusimidt commented on #53
@mrx23dot Thank you for your example with `text2num`. I am currently working on implemnting the ixt-sec transformations.
Should be ready by tomorrow moring.

[2021-09-20 10:41] mrx23dot commented on #69
Doc says:
**xml.etree.ElementTree.tostring**(element, encoding="us-ascii", method="xml", *, xml_declaration=None, default_namespace=None, short_empty_elements=True)

"Generates a string representation of an XML element, including all subelements."
-> so it should be recursive too, might need playing with parameters.

[2021-09-23 20:36] mrx23dot opened #72 ""Explicit Member"s missing"
Given filling:
https://www.sec.gov/ix?doc=/Archives/edgar/data/0001751143/000121390021027034/f10q0321_atlastechnical.htm
or xml:
https://www.sec.gov/Archives/edgar/data/1751143/000121390021027034/f10q0321_atlastechnical_htm.xml

I would like to extract number of shares, now there are ClassA and ClassB ones under the same tag name:
`dei:EntityCommonStockSharesOutstanding`

But they are have unique

[2021-10-14 15:39] manusimidt commented on #72
Hello @mrx23dot ,

i have looked into the filing you provided and was able to successfully extract the two facts tagged with "dei:EntityCommonStockSharesOutstanding". One concept has the member "CommonClassAMember" the other "CommonClassBMember".

This was the code i used:
[code]
In this screenshot you can see how the parsed facts correspond with the iXBRL Viewer of the SEC.

![image](https://user

[2021-10-14 21:25] #72 closed

[2021-10-21 15:40] mrx23dot opened #73 "Add support for Datetime in context duration."
parsing cache/www.sec.gov/Archives/edgar/data/0000752642/000149315218003093/umh-20171231.xml
  parsing cache/www.sec.gov/Archives/edgar/data/0000888491/000114420418026912/ohi-20180331.xml
**give:**
     error unconverted data remains: T00:00:00

maybe a str.split('T')[0] could help.

[code]

[2021-10-21 15:42] mrx23dot opened #74 "KeyError: 'Unit_sqft'"
doing https://www.sec.gov/Archives/edgar/data/0000740664/000114420419013512/rfil-20190131.xml

gives:
[code]

[2021-10-27 21:26] manusimidt opened #75 "Add support for the ixt-sec transformations."
As defined in:
https://www.sec.gov/info/edgar/specifications/edgarfm-vol2-v51_d.pdf

[2021-10-27 21:34] #74 closed, assigned to manusimidt

[2021-10-28 17:56] mrx23dot opened #76 "unresolved schemas"
Got some more unresolved schemas.

As I understand these are not real URIs, so what't the official way to resolve them?
There must be a way to look these up instead of hard coding them. Let me ask SEC.

[code]

[2021-11-01 20:32] mrx23dot commented on #76
SEC replied:

All XBRL taxonomies currently accepted in EDGAR filings are posted on https://www.sec.gov/info/edgar/edgartaxonomies.shtml.  An XML version can be found at https://www.sec.gov/info/edgar/edgartaxonomies.xml.  We do not maintain anything similar for what has historically been accepted, but you can find the information in the latest Release Notes, for example Figure 1 in https://xbrl.s

[2021-11-03 09:11] manusimidt commented on #76
It would be possible to query the XML Version of the Edgar Taxonomies list instead of hardcoding it into the libary.

Keep in mind, however, that this only applies to SEC Edgar submissions. I deliberately did not include this functionality because I did not want to optimize py-xbrl for a specific XBRL source, but wanted to keep it as general as possible for all XBRL documents. If I were to include

[2021-11-03 11:19] mrx23dot commented on #76
Unfortunately SEC drops old items from xml, but this would still give us 10years to add anything in xml to github, which is better than doing it every year.

My proposal would  be to keep existing items in taxonomy.ns_schema_map but provide a utility function that grabs the latest ones from SEC and user can extend the dict (also with custom ones).

[code]

This eliminates user having to write the

[2021-11-08 21:07] mrx23dot commented on #76
SEC also suggested this file, contains all the old schemas, we should add these to the hard coded ones, and poll the new ones less frequently.

https://github.com/Arelle/Arelle/blob/cef828d1f14e23a24fa1971477679c471079b48f/arelle/plugin/validate/EFM/resources/edgartaxonomies/edgartaxonomies-all-years.xml

[2021-11-10 23:19] manusimidt commented on #76
Yes that's a good resource. The xml file also contains the namespace-schema mapping. It is probably the best to create an abstraction layer above the core parsing modules and implement both ways simutainiously.
So basically:
1. First look into the taxonomy schema for the schema location
2. If schema url could not be located look into the a hardcoded mapping in the parser
3. If the namespace could

[2021-11-11 10:33] mrx23dot commented on #76
Sounds good, I would still use my API suggestion:
- hardcoded is default, unless user clears the dictionary
- user can add custom (not SEC) ones
- latest SEC ones can be loaded on demand (not automatically), since it can be used for non SEC too, maybe a mode='sec' for automatic fetching

I parsed arelle hardcoded ones into python dict format:
[hardcoded_arelle.txt](https://github.com/manusimidt/py

[2021-11-12 15:25] mrx23dot commented on #76
I added these hard coded ones in https://github.com/manusimidt/py-xbrl/pull/77 for first step.

[2021-11-18 08:21] manusimidt commented on #76
Thank you! I will check and merge it in the following days.

[2021-11-18 09:30] mrx23dot commented on #76
I only left https protocol to ones which would auto redirect from http->https anyway, otherwise it wastes time with redirection or certificate checking.

[2022-02-09 22:23] gety9 opened #78 "Not well-formed (invalid token) error for ixblr."
Guy, hi

Great project! Learnt a lot about xbrl from discussions and blog posts.

Remote xblr example worked for me, remote ixblr didn't (i think it's cause url provided is regular htm, not ixblr), but even with ixblr document it does not work cause it can't create cache file.

I think issue is ?= in path name.
I tested on windows and termux (linux on android)
In both cases there are enough permis

[2022-02-10 16:42] gety9 commented on #69
@mrx23dot @jonkatz6

and

guys, do you still have parser working for ixblr urls?

i am using py-2.0.7 and
https://www.sec.gov/Archives/edgar/data/1365135/000155837021005716/wu-20210331x10q_htm.xml (xblr) works

https://www.sec.gov/ix?doc=/Archives/edgar/data/1365135/000155837021005716/wu-20210331x10q.htm (ixblr url with ? = characters) doesn't work at all

`PermissionError: [Errno 1] Operation not

[2022-02-10 16:49] gety9 commented on #78
Update: apparently one can pass ixblr using ix?doc= url or removing it (using clean url), problem neither of them works now. Clean url was working previously https://github.com/manusimidt/py-xbrl/issues/69#issuecomment-1035143840

[2022-02-10 17:04] mrx23dot commented on #78
This format is an interactive view:
https://www.sec.gov/ix?doc=/Archives/edgar/data/1671933/000156459021006726/ttd-10k_20201231.htm

you have to go to Menu/open as Html
https://www.sec.gov/Archives/edgar/data/1671933/000156459021006726/ttd-10k_20201231.htm

not all fillings have iXBRL content, thus not all parsable.

[2022-02-10 20:29] gety9 commented on #78
@mrx23dot thanks for reply, yes now i am trying to use 2nd link, but it's not working too.

According to issue 69 "clean" ixbrl links work for you, could you please tell what i am doing wrong?

I am running
[code]

but all ixbrl links ("clean" ones) i tested result in same error "not well formed", only line # and column # are different.

[code]

I tested on windows and termux (linux), same error.

[2022-02-11 09:23] mrx23dot commented on #78
@gety9
Your better bet is to parse the xml instead of html:

https://www.sec.gov/Archives/edgar/data/1671933/000156459021006726/ttd-10k_20201231_htm.xml

list fillings first:
https://www.sec.gov/edgar/browse/?CIK=1671933&owner=exclude

then open Filling
https://www.sec.gov/Archives/edgar/data/0001671933/000156459021006726/0001564590-21-006726-index.htm

then parse xml from here
https://www.sec.gov

[2022-02-12 11:32] manusimidt commented on #78
This issue applies to far more filings than I initially anticipated. The script tag can be found in many newer submissions. I will try to roll out a fix by the end of next week.

[2022-02-12 14:25] gety9 commented on #78
@manusimidt Manuel, i would be great, cause now none of ixblr links seem to work (even the one from read.me), seems like sec rolled out this tag for all ixblr files.

[2022-02-12 14:29] gety9 commented on #78
yes, xblr works for all fillings i tested, and still i agree with Manuel that ixblr is preferred source cause that's the one company files (xblr is generated by sec from ixblr).

[2022-02-16 12:49] #78 closed

[2022-02-17 08:30] manusimidt commented on #75
https://www.sec.gov/info/edgar/ixbrl-transform-registries.json
Defines a list of transformation registries that are supported by the SEC

[2022-02-18 19:03] #11 closed

[2022-02-18 19:03] #75 closed

[2022-02-18 19:03] #59 closed

[2022-02-18 19:03] #69 closed

[2022-02-18 19:16] #73 closed

[2022-03-16 00:20] gety9 commented on #66
@manusimidt Manuel, i know you are busy (i think you mentioned that you continue the studies) but did you have near future plans on `compile_xbrl()` (contruction of income statement, balance sheet, cash flow statement) ?

[2022-03-16 19:44] rayniervanegmond commented on #40
In the inlineXBR specification it says:

"The ix:nonFraction element MUST have exactly one child which SHALL be either an ix:nonFraction element or a text node, unless it has an xsi:nil attribute with the value true."

This means that nesting can occur -- I wouldn't know why one would do it but the spec allows it. BTW as the spec declares, it can have no child elements if the "xsi:nil attribute" o

[2022-03-17 14:28] manusimidt commented on #40
Thanks for your comment! Yes, I agree, nesting `nonFraction`-facts is very uncommon. What I had seen more often was nested `nonNumeric` facts, like the following example:
[code]
However, the parser should now be able to handle (in theory indefinitely deep) nesting, since it now loops recursively over all iXBRL tags and extracts all text that is encapsulated by the tag and is not part of any XML co

[2022-03-20 23:04] gety9 commented on #66
@manusimidt got it, that makes perfect sense.

[2022-04-04 03:03] fhopecc opened #81 "parse_ixbrl should add encoding argument"
If the encoding of instance is utf8 but the locale encoding is cp950, then it crahsed. Just adding encoding option to specified the encoding of the instance file for parse_ixbrl function as following:

[code]

[2022-06-24 21:32] manusimidt opened #84 "Be nicer to submissions that do not follow the XBRL standard 100%"
Implement some functionality that allows also for parsing XBRL reports that are violating the XBRL standart. Maybe just issue a warning and continue with parsing instead of crashing completely.

(from discussion:)
Hey,

the concepts are defined in the different taxonomy schemas imported by the instance document.

For example:
The first submission you provided failed at the concept:
`"in-ca:Whether

[2022-06-24 21:35] manusimidt commented on #84
This would affect mainly the instance module, but there both XBRL and iXBRL parsing is affected since these are separate functions.

[2022-06-27 09:10] PotatoProgrammer20 commented on #84
Hi,

Thanks for the explanation, I tried the try- catch method but it did not work and it gave the same error. Will there be different changes required for the same.

[2022-06-27 10:09] PotatoProgrammer20 commented on #84
Hi,

Thanks for the idea, I did some code changes, added a try catch block as you suggested and used beautiful soup to fetch the wrongly filed data from the XML file directly.

Here is my code:

        try:
            concept: Concept = tax.concepts[tax.name_id_map[concept_name]]
            context: AbstractContext = context_dir[fact_elem.attrib['contextRef'].strip()]
        except KeyError:

[2022-06-27 10:31] PotatoProgrammer20 commented on #84
Is there a way where i can integrate this result for wrongly filed concept names and add them to the "facts"

There seem to be many changes in parameters of the functions so I would rather wait for you to give an update regarding this.

Thanks

[2022-07-11 17:23] #81 closed

[2022-07-11 17:26] #18 closed

[2022-08-15 19:40] manusimidt commented on #84
This change is now live in version 2.2.0

[2022-08-21 12:47] manusimidt commented on #84
This could also apply to context id's (see #86)

[2022-09-18 16:50] mrx23dot opened #87 "New 2022 taxonomies"
Hi, I've got the batch of missing taxonomies for 2022: (where it says .html just use the .xml version)

[code]

[2022-10-09 00:03] fhopecc commented on #81
Thanks for adding this function!

[2022-10-09 20:07] manusimidt commented on #87
sorry that it took so long, I was on vacation.
I added the taxonomies and tried all the filings you got the error for.

If you find additional taxonomies that need to be added please write them into this issue.

[2022-10-10 19:13] #87 closed, assigned to manusimidt

[2022-10-10 20:52] ajmed opened #89 "Bug: instance.json('my-file.json')"
The `XbrlInstance.json(self, file_path: str = None, override_fact_ids: bool = True)` function does not respect the file_path argument. Specifically, if the file_path is specified it writes the json object to a hardcoded filepath, `data.json` instead of the file_path specified.

[code]

[2022-10-11 17:12] manusimidt commented on #89
Oh yeah, that's an obvious bug, thanks!

[2022-10-11 17:17] #89 closed

[2022-10-11 17:23] manusimidt commented on #87
@mrx23dot Yes, probably a very smart thing to automatically download the namespace to schemaurl mappings from the list of EDGAR Taxonomies.  In any case, better than a static list that you always have to maintain yourself...

You are welcome to open a pull request with this code! Or do you want me to just copy the two functions and include them in the library?

[2022-10-21 23:23] codinguncut opened #91 "Unclear +/- sign of some facts"
Hi,

thank you so much for the work you have put into this library.

I am using this library to process SEC XBRL filings to fetch information from P&L, Balance Sheet and Cash Flow Statements, etc.

A couple of challenges I have run into:
- Positive/ negative sign of facts is not always clear
    I.e. for AAPL 2021-09, IncreaseDecreaseInAccountsReceivable is a positive number, albeit in the PDF fil

[2022-10-22 15:41] codinguncut commented on #91
I know this was raised a bug before, and was closed as an "accounting detail", but I am still unsure how to proceed.
I wrote some code to deduce sign from calculation rules with following output (again for AAPL 2021-09-25):

Prefix "-" means that calculation weight was "-1.0".

[code]

[2022-10-23 10:51] codinguncut commented on #91
Apologies for the spam, I am also only figuring this out as I go along.

![image](https://user-images.githubusercontent.com/2112583/197388003-8b357f31-0c91-4852-bcba-abeae4c20cfe.png)
(source: https://www.wisesheets.io/assets/PreparersGuide.pdf)

[2022-10-24 14:21] ajmed commented on #91
@codinguncut As you said in the last comment with the pdf, the weight is assigned to a particular calculation relationship, not the value. Depending on what is being calculated, a particular value could be added or subtracted is why it's modeled this way.

One way you can tackle this is to parse the CALCULATION Linkbase as well as the filing. Once you have the calculation linkbase you can parse th

[2022-10-24 16:54] ajmed commented on #76
Now that we're in 2022, filings are using the 2022 taxonomies. This means the library may fail to parse filings that assume presence of those common taxonomies. @mrx23dot would you suggest using the function you wrote above (get_SEC_schemas) to fill the gaps?

[2022-10-24 20:31] manusimidt commented on #76
@ajmed I think the suggestion of @mrx23dot is quite good and i am planning to implement a similar function that queries the [common taxonomy file](https://www.sec.gov/info/edgar/edgartaxonomies.xml) for SEC submissions.

Normally, if every submission would strictly follow the XBRL Standard, we wouldn't need this function. But i understand that it is really helpful if you want to parse SEC submissi

[2022-10-24 21:20] manusimidt commented on #91
Thank you both for your suggestions!

Yes, if i understand correctly, the calculation linkbase does not indicate which sign the fact has, but **how it relates to other facts**.
But I understand the confusion here, if you look for example at this fact, even though it appears to be negative on the actual cash flow statement, it has a positive sign in XBRL. This is probably because it's concept has c

[2022-10-24 23:51] ajmed commented on #91
@manusimidt I've been grappling with this issue as well. Specifically where the filer overrides the base calculations which happens in all the filings I've seen so far (a few dozen).

I'm only really interested in the us-gaap taxonomies, but I believe the following implementation should follow for all.

Currently my implementation grabs what I call the referenced base taxonomy. For example, Filing

[2022-10-25 00:06] ajmed commented on #76
@manusimidt makes sense. No rush, wouldn't want extra things entering the library that become cruft. In the meantime I've used the above code and it's successfully parsing the ill-formed filings.

[2022-10-25 06:55] codinguncut commented on #91
hi @ajmed @manusimidt,
thank you so much for your detailed comments.
Once I understand the correct behavior, I would also be happy to implement a solution in this library, or to collaborate on doing so.

I don't quite understand the relationship between the base schema and "overrides". I would have thought that "FilingA definition" would be a subset of the "us_gaap definition", otherwise the value

[2022-10-25 19:35] manusimidt commented on #91
Generally, regulators decide between one of two different reporting models. The **Open financial reporting** (like SEC uses it) and the **closed financial reporting** (like the company house in the UK uses it).

In a **closed reporting** model the company must have the common taxonomy (IFRS for UK) as base taxonomy and is not allowed to add new concepts, relationships and resources.

In an **open

[2022-10-25 19:36] manusimidt commented on #91
I can also really recommend the book "XBRL for interactive Data" from Debreceny. It also has a chapter on this topic and it is explained quite well. (The following figure is from this book)

![image](https://user-images.githubusercontent.com/29599104/197865896-8b21bf59-84d0-4258-8645-a09443097f49.png)

[2022-10-25 19:45] manusimidt commented on #91
@ajmed yes, this sounds pretty interesting! I looking forward to hear from you about your results!

I have also often thought about how I can parse this in the easiest way. Until now I thought to make an artificial "final taxonomy", go recursively through all imports, start at the deepest taxonomy and gradually add all resources/relations to the "final taxonomy". If a relation is overwritten in a

[2022-10-25 20:46] ajmed commented on #91
@manusimidt That's exactly as I have it currently. Still a work in progress and only focused on the us-gaap, but lemme provide an example filing: [0001090872-22-000012](https://www.sec.gov/Archives/edgar/data/1090872/000109087222000012/0001090872-22-000012-index.htm). Specifically you can open the [calc linkbase](https://www.sec.gov/Archives/edgar/data/1090872/000109087222000012/a-20220430_cal.xml

[2022-10-26 12:48] codinguncut commented on #91
@manusimidt Regarding Closed reporting, it appears that at least in Denmark it is possible to add concepts to IFRS-Full:

![image](https://user-images.githubusercontent.com/2112583/198029832-82c562fe-f768-4e3f-8706-abb67d8c0288.png)

[2022-10-26 12:59] codinguncut commented on #91
I am really confused by the other tabular data formats provided by Edgar (xbrl-json, tsv, etc.).

If filers can arbitrarily assign "+" or "-" signs to their facts, or completely change calculation logic, then all of the above would be worthless because the sign to be used would not be clear from the json or tsv data. Not even to mention that at least the json data seems to completely throw away th

[2022-10-27 14:12] codinguncut commented on #91
*sigh*
![image](https://user-images.githubusercontent.com/2112583/198309190-1884ce33-22df-434f-bbbd-ef327870be1b.png)
https://www.esma.europa.eu/sites/default/files/library/esma32-60-254_esef_reporting_manual.pdf

[2022-10-27 14:50] codinguncut commented on #91
Nice tool, also shows how much companies extend the base XBRL schema:
![image](https://user-images.githubusercontent.com/2112583/198322567-4eef426b-0590-4021-bba5-0419ddde40bc.png)
https://edgardashboard.xbrlcloud.com/edgar-dashboard/

[2022-10-27 18:34] manusimidt opened #94 "Space in url creates issues when requesting a taxonomy"
### Discussed in https://github.com/manusimidt/py-xbrl/discussions/93

<div type='discussions-op-text'>

<sup>Originally posted by **ahoward-cf** October 26, 2022</sup>
I am encountering the following error when trying to parse an iXBRL file saved locally. With other files, the parser is able to download all the relevant taxonomies, but this file (and many others like it) are failing when trying t

[2022-10-27 18:36] #94 closed

[2022-10-31 16:26] manusimidt commented on #91
@ajmed Yes, in theory, it exactly works that way.
However, what puzzles me is that i can't see where the calculation linkbase ([us-gaap-stm-soi-cal-2022.xml](https://xbrl.fasb.org/us-gaap/2022/stm/us-gaap-stm-soi-cal-2022.xml)) is imported by the filing ([0001090872-22-000012](0001090872-22-000012)). The schema file of the filing imports the following endpoint of the us-gaap taxonomy: [us-gaap-202

[2022-10-31 16:29] manusimidt commented on #91
For some reason, i couldn't find a single file/website describing the architecture of the us-gaap taxonomy. I could only find one for the european ESEF taxonomy that was introduced last year:

![image](https://user-images.githubusercontent.com/29599104/199059114-49527cbe-ec68-4861-bdb0-7d576421a349.png)

I would understand it this way: if you import the full taxonomy (`èsef_all.xsd`), all linkbase

[2022-10-31 16:32] manusimidt commented on #91
@codinguncut "On a case-by-case basis" 😂🤦🏼‍♂️ defeats the idea of XBRL a bit...
Thank you for the EDGAR Dashboard link, looks very interesting.

[2022-11-04 16:26] ahoward-ch opened #95 "Potential arg bug in transformations __init__"
My linter caught a potential bug in `xbrl.transformations.__init__.py`, line 300.

Perhaps I simply dont understand, but I believe it should read
[code]

Currently it reads
[code]

I have not posted a PR just in case this is intended behaviour. I still have a lot to learn!

[2022-11-11 19:21] manusimidt commented on #95
I don't really know why it should be `[arg]` instead of `[str]`. The python function `str.split()` should always return an array of strings 🤔

https://docs.python.org/3.3/library/stdtypes.html?highlight=split#str.split

[2022-11-11 19:21] #95 closed

[2022-11-14 09:21] ahoward-ch commented on #95
You are right. I misread the line and thought `[str]` was a definition rather than a type hint. My linter doesn't recognise type hints and I am not used to seeing them. I had thought you were trying to parse the actual python inbuild method `str` to an array rather than a variable. My bad!